<div class="header">
    <div class="wrapper">
        <div class="headerMain clearfloat">
            <a href="/" class="logo fl">
                <img src="images/logo.png">
            </a>
            <div class="headerText fl">
                <ul class="clearfloat">
                    <li><a href="/" <% if(active==='indexLink') {%>class="active"<%}%>><%= __('indexLink') %></a></li>
                    <li><a href="/brand" <% if(active==='brandLink') {%>class="active"<%}%>><%= __('brandLink') %></a></li>
                    <li><a href="/product" <% if(active==='productLink') {%>class="active"<%}%>><%= __('productLink') %></a></li>
                    <li class="lastLi" <% if(active==='contactLink') {%>class="active"<%}%>><a href="/contact"> <%= __('contactLink') %></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>