<meta charset="utf-8">
<title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="description" content="始于1998年，德菲丝致力于为消费者带来高品质进口松露巧克力，入口即化的美味口感深受消费者的喜爱。多年来德菲丝不断拓宽和发展，精选优质可可豆，只为呈现出更好的口感。"/>
<meta name="keywords" content="德菲丝,truffles,德菲丝官网,松露巧克力,喜糖,威化榛果,酒心巧克力,精致礼盒,威化饼干,排块巧克力,婚庆巧克力,婚庆礼盒,婚庆定制,结婚巧克力,浦丝贸易"/>
<link href="<%= globalConfig.website_static %><%= _gap('css/common.css') %>" rel="stylesheet" type="text/css" media="all"/>
<% if(isZhCn){
%>
<style type="text/css">
    .header .headerText ul li a {
        font-family: fzssjw;
    }
</style>
<%
}%>